/* Reset */
h1, p {
    margin: 0;
    padding: 0;
}
/* contents */
body {
    background-color: #dcdddd;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-70%, -50%);
}

/* width, height 100%
display: flex;
justify-content: center
부모요소가 넓으면 그림자가 나온다. */

/* overflow:hidden;
contents 흘러나옴 없애기 */
.wrapper {
    width: 900px;
    text-align: left;
    overflow: hidden;
}
.title {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: #dddddd 0px 10px 10px 10px;
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flow-root;
}
.title h1 {
    font-size: 55px;
    color: #ff1393;
    text-indent: 50px;
    font-weight: bold;
    border-left: #ff1393 solid 20px;
}
.list {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: #dddddd 0px -10px 10px 0px;
    background-color: #efefef;
    padding: 50px;
}
.list p {
    font-size: 35px;
    background-color: white;
    padding: 20px;
    margin: 30px;
    border: #a1a1a1 10px solid;
    border-radius: 10px;
}
.list .learn {
    border-color: #1e91ff;
    color: #1e91ff;
    background-image: url(/images/check.png);
    background-repeat: no-repeat;
    background-position: right;
}